*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: lightgreen;
  margin: 10px;
}
.delete_element {
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
}

#input_write {
 margin: 20px;
}
